@media screen and (max-width:800px) {
    .navber-main{
        flex-direction: column;
        align-items: center;
    }
    .navber-main {
        margin-top: 20px;
        
    }
    
    .fh-off{
        top: 12%;
        left: 57%;
    }
    .thf-off{
        top: 60%;
        left: 0%;
    }
    .skills-contain{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width:576px) {
    .nav-hamburger-menu{
        display: block;
    }
    .nav-btu-container{
        display: none;
    }
    .navber-main{
        flex-direction: row;
    }
    .banner-main{
        flex-direction: column;
    }
    .banner-childs{
        width: 100%;
    }
    .fh-off{
        top: 12%;
        left: 57%;
    }
    .thf-off{
        top: 50%;
        left: 0%;
    }
    .bim-content{
        flex-direction: column;
    }
    .skills-contain{
        grid-template-columns: repeat(1, 1fr);
    }
    
    }
/* run content section starts here  */
    /* .run-banner{
        
    
    }

    .btn3{
        background-color: #E6533C;
        color: white;
        padding: 10px 100px;
        border: none;
        border-radius: 20px;
    
    }
    .run-childs{
        
    } */
    /* run content section ends here  */


    /* .meet-content img {
        height: 100%;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .meet{
        grid-template-columns: repeat(1, 1fr);
    } */
    /* .Fitness-content{
        flex-direction: column;
    } */
    
}