@media screen and (max-width:800px) {
    .navber-main{
        flex-direction: column;
        align-items: center;
    }
    .navber-main {
        margin-top: 20px;
        
    }

    .banner-main{
        flex-direction: column;
    }
    
    .fh-off{
        top: 12%;
        left: 57%;
    }
    .thf-off{
        top: 60%;
        left: 0%;
    }
    .bim-content{
        flex-direction: column;
    }
    .bim-childs{
        width: 50%;
        /* border: 2px solid green; */
    }
        
    .skills-contain{
        grid-template-columns: repeat(2, 1fr);
    }
    
    
    .get{
        width: 50%;
    }

}
@media screen and (max-width:576px) {
    .nav-hamburger-menu{
        display: block;
    }
    .nav-btu-container{
        display: none;
    }
    .navber-main{
        flex-direction: row;
    }
    .banner-main{
        flex-direction: column;
    }
    .banner-childs{
        width: 100%;
    }
    .fh-off{
        top: 12%;
        left: 57%;
    }
    .thf-off{
        top: 50%;
        left: 0%;
    }
   
    .skills-contain{
        grid-template-columns: repeat(1, 1fr);
    }
    .run-banner{
        flex-direction: column;
        
    }
  .run-childs{
    padding: 10px 0; 
   }
    .btn3{
        padding: 10px 110px;
    }
    .bim-content{
        flex-direction: column;
    }
    .card-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .c1 {
        display: none;
    }
    .c4{
        display: none;
    }
    .fgg-content{
        flex-direction: column;
    }
    
    }
